services:
  backend:
    container_name: lunchchat-backend
    image: "{{ docker_registry }}/{{ docker_image_name }}:{{ image_tag }}"
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8080
      - TZ=Asia/Seoul
      - JAVA_OPTS=-Xms256m -Xmx700m -XX:+UseG1GC -XX:MaxGCPauseMillis=100 -XX:+UseStringDeduplication -XX:G1HeapRegionSize=8m -XX:MaxMetaspaceSize=120m -XX:+DisableExplicitGC -XX:+UseCompressedOops -XX:G1NewSizePercent=25 -XX:G1MaxNewSizePercent=35
      - DB_URL={{ db_url }}
      - DB_USER={{ db_user }}
      - DB_PW={{ db_pw }}
      - MONGO_URI={{ mongo_uri }}
      - GOOGLE_SHEET_ID={{ google_sheet_id }}
      - REDIS_HOST={{ redis_host }}
      - SECRET_KEY={{ secret_key }}
      - CLIENT_ID={{ client_id }}
      - CLIENT_SECRET={{ client_secret }}
      - AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
      - AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
      - AWS_REGION={{ aws_region }}
      - OPENAI_API_KEY={{ openai_api_key }}
      - FCM_SERVICE_ACCOUNT_FILE=/app/firebase-service-account-key.json
      - GOOGLE_SHEETS_SERVICE_ACCOUNT_FILE=/app/sheets-key.json
    restart: unless-stopped
    volumes:
      - ./logs:/var/log/lunchchat
      - ./firebase-service-account-key.json:/app/firebase-service-account-key.json:ro
      - ./sheets-key.json:/app/sheets-key.json:ro